/build
/asld/as/as
/asld/dof/dof
/asld/ld/ld
/disk/server/diskserv
/disk/tools/fsck/fsck
/disk/tools/fspoke/fspoke
/disk/tools/mkboot/bootblk
/disk/tools/mkdisk/mkdisk
/disk/tools/mkfiles/0x000001
/disk/tools/mkfiles/0x000002
/disk/tools/mkfiles/0x000004
/disk/tools/mkfiles/0x000008
/disk/tools/mkfiles/0x000010
/disk/tools/mkfiles/0x000020
/disk/tools/mkfiles/0x000040
/disk/tools/mkfiles/0x000080
/disk/tools/mkfiles/0x000100
/disk/tools/mkfiles/0x000200
/disk/tools/mkfiles/0x000400
/disk/tools/mkfiles/0x000800
/disk/tools/mkfiles/mkfiles
/disk/tools/mkfs/mkfs
/disk/tools/mkmboot/mbootblk
/disk/tools/mkmboot/zeroes
/disk/tools/mkpart/mkpart
/disk/tools/shfs/shfs
/disk/tools/shpart/shpart
/hwtests/brtest/brtest.s
/hwtests/brtest/mkbrtest
/hwtests/divtest/divtest.s
/hwtests/divtest/mkdivtest
/hwtests/looptest/looptest.s
/hwtests/looptest/mklooptest
/hwtests/multest/mkmultest
/hwtests/multest/multest.s
/hwtests/remtest/mkremtest
/hwtests/remtest/remtest.s
/hwtests/serial/fpga2pc/receive
/hwtests/serial/pc2fpga/send
/hwtests/serial/sertest/sertest
/hwtests/shtest/mkshtest
/hwtests/shtest/shtest.s
/hwtests/tools/bin2exo/bin2exo
/hwtests/tools/bit2exo/bit2exo
/monitor/kbdtbls/kbdtbls.s
/monitor/kbdtbls/mkkbdtbls
/sim/getline/testgl
/sim/sim
/simtest/disk/mkdisk/mkdisk
/simtest/disk/wrtmbr/wrtmbr
/stdalone/onetask/dump/dump
/stdalone/onetask/task/task
/stdalone/twotasks-1/dump/dump
/stdalone/twotasks-1/task1/task1
/stdalone/twotasks-1/task2/task2
/stdalone/twotasks-2/dump/dump
/stdalone/twotasks-2/task1/task1
/stdalone/twotasks-2/task2/task2
/stdalone/wrtmbr/mbr/dump
*.o
*.bin
*.map
*.dump
*.mak
*.a
*.exo